*{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 70px;
}
body{
  height: 7000px;
}
main{
  display: flex;
  justify-content: center;
}
span{
  font-size: 25px;
}
.titleSection{
  position: fixed;
}
.titleContainer{
  display: flex;
  flex-direction: column;
}
.genderSection{
    top:10%;
    position: fixed;
    display: none;
}
.genderSection h2{
  margin-bottom: 100px;
}
.genderContainer{
  height: 500px;
  width: 50%;
}
.ageSection h2{
  margin-bottom: 100px;
}
.ageSection{
  position: fixed;
  top:10%;
  width: 100%;
  display: none;
}
.fillAge{
  width: 0;
  transition: 1s;
}
.genders{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.woman{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.man{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.malespan{
  font-weight: 900;
}
.femalespan{
  font-weight: 900;
}
.man img{
  width: 50%;
  transition: 1s;

}
.genderText{
  height: 55px;
  transition: 1s;
  color: #fff;
}
.woman img{
  width: 50%;
  transition: 1s;

}
.Intro{
  height: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
