body{
  height: 2000px;
}
main{
  display: flex;
  justify-content: center;
}
.genderSection{
  height: 500px;
  position: fixed;
  top: 26%;
  left: 30%;
  width: 50%;
}
.genders{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.woman{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.man{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.man img{
  width: 50%;
  transition: 1s;

}
.genderText{
  height: 30px;
  transition: 1s;
  color: #fff;
}
.woman img{
  width: 50%;
  transition: 1s;

}
.Intro{
  height: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
